body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:skyblue ;
}
form{
    background:rgb(225,225,225);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    color: aqua;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
button{
    background-color:yellowgreen;
    color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}